extends layout/main-layout

append other-css
	link(rel='stylesheet' href='/stylesheets/main/index.css')

block content
	.container
			
		p menu
		ul
			a(href="").text-primary.hover_secondary hover Test

append other-js
