extends layout/main-layout

append other-css
	link(rel='stylesheet' href='/stylesheets/main/index.css')

block content
	.container.bg-secondary.mt-5.py-5.px-3
		h5 xsm
		p.text-indent-xsm Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam autem cumque aliquid. Ullam quos dolore quidem aperiam quaerat vero impedit quo tenetur unde incidunt non, accusamus ipsam iusto ipsum!
		h5 sm
		p.text-indent-sm Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam autem cumque aliquid. Ullam quos dolore quidem aperiam quaerat vero impedit quo tenetur unde incidunt non, accusamus ipsam iusto ipsum!
		h5 md
		p.text-indent-md Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam autem cumque aliquid. Ullam quos dolore quidem aperiam quaerat vero impedit quo tenetur unde incidunt non, accusamus ipsam iusto ipsum!
		h5 lg
		p.text-indent-lg Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam autem cumque aliquid. Ullam quos dolore quidem aperiam quaerat vero impedit quo tenetur unde incidunt non, accusamus ipsam iusto ipsum!
		h5 xl
		p.text-indent-xl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam autem cumque aliquid. Ullam quos dolore quidem aperiam quaerat vero impedit quo tenetur unde incidunt non, accusamus ipsam iusto ipsum!
		h5 xxl
		p.text-indent-xxl Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam veniam autem cumque aliquid. Ullam quos dolore quidem aperiam quaerat vero impedit quo tenetur unde incidunt non, accusamus ipsam iusto ipsum!

	.container.bg-secondary.mt-5.py-5.px-3
		h5 width auto
		p.text-truncate Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur sequi quia incidunt nesciunt, unde ab facere ipsa illum. Culpa molestias illo ad voluptatum odit. Sit reiciendis quas ratione eius expedita.
		h5 width 25%
		p.text-truncate.w-25 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur sequi quia incidunt nesciunt, unde ab facere ipsa illum. Culpa molestias illo ad voluptatum odit. Sit reiciendis quas ratione eius expedita.
		h5 width 50%
		p.text-truncate.w-50 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur sequi quia incidunt nesciunt, unde ab facere ipsa illum. Culpa molestias illo ad voluptatum odit. Sit reiciendis quas ratione eius expedita.
		h5 width 75%
		p.text-truncate.w-75 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur sequi quia incidunt nesciunt, unde ab facere ipsa illum. Culpa molestias illo ad voluptatum odit. Sit reiciendis quas ratione eius expedita.
		h5 width 350px
		p.text-truncate(style="width: 350px") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur sequi quia incidunt nesciunt, unde ab facere ipsa illum. Culpa molestias illo ad voluptatum odit. Sit reiciendis quas ratione eius expedita.
		h5 width 40px
		p.text-truncate(style="width: 40px") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur sequi quia incidunt nesciunt, unde ab facere ipsa illum. Culpa molestias illo ad voluptatum odit. Sit reiciendis quas ratione eius expedita.


	.container.bg-secondary.mt-5
	.container.bg-secondary.mt-5
append other-js
