extends base-layout

append other-css
    link(rel="stylesheet", href="/stylesheets/main/components/navbar.css")
    link(rel="stylesheet", href="/stylesheets/main/components/footer.css")

block base-content
    include ../components/navbar
    block content
    include ../components/footer    

append other-js