@import "../main/theme";

$percent-size-list: (
            "25": 25%,
            "50": 50%,
            "75": 75%,
            "100": 100%,
        );

$viewport-size-list: (
            "25": 25vh,
            "50": 50vh,
            "75": 75vh,
            "100": 100vh,
        );

@each $breakpoint-name, $breakpoint-value in $breakpoint-list {
    @media only screen and (min-width: $breakpoint-value) {
        @each $percent-size-name, $percent-size-value in $percent-size-list {
            
            .w-#{$breakpoint-name}-#{$percent-size-name} { 
                width: $percent-size-value !important;
            }
                
            .h-#{$breakpoint-name}-#{$percent-size-name} { 
                height: $percent-size-value !important;
            }
        }

        @each $viewport-size-name, $viewport-size-value in $viewport-size-list {

            .vw-#{$breakpoint-name}-#{$viewport-size-name} {
                width: $viewport-size-value !important;
            }

            .vh-#{$breakpoint-name}-#{$viewport-size-name} {
                height: $viewport-size-value !important;
            }
        }
    }
}

.vh-75 {
    height: 75vh;
}
.vh-50 {
    height: 50vh;
}
.vh-25 {
    height: 25vh;
}

.wh-75 {
    width: 75vw;
}
.wh-50 {
    width: 50vw;
}
.wh-25 {
    width: 25vw;
}