@import "../main/theme";

// font-size
@for $font-size-value from 10 through 80 {
    @if $font-size-value % 2 == 0 {
        .fs-#{$font-size-value} {
            font-size: $font-size-value + px !important;
        }
    }
}

@each $breakpoint-name, $breakpoint-value in $breakpoint-list {
    @media only screen and (min-width: $breakpoint-value) {
        @for $font-size-value from 10 through 80 {
            @if $font-size-value % 2 == 0 {
                .fs-#{$breakpoint-name}-#{$font-size-value} {
                    font-size: $font-size-value + px !important;
                }
            } 
        }
    }
}

//font-weight
$font-weight-list: (
    "thin": 100,
    "lighter": 200,
    "light": 300,
    "normal": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "bolder": 800,
    "black": 900,
);

@each $font-weight-name, $font-weight-value in $font-weight-list {
    .fw-#{$font-weight-name} {
        font-weight: $font-weight-value !important;
    }
}

//line height
$line-height-list: (
    "xsm": 1,
    "sm": 1.25,
    "md": 1.5,
    "lg": 1.75,
    "xl": 2,
    "xxl": 2.25,
);

@each $line-height-name, $line-height-value in $line-height-list {
    .lh-#{$line-height-name} {
        line-height: $line-height-value !important;
    }
}
