a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.xl-container {
    max-width: 1450px;
    margin: auto;
}

.fit-img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}